/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto:wght@100&display=swap'); */

.profile-img-box{
  width:130px;
  height:130px;
  border-radius: 100px;
  padding:0px;
}
.profile-img-box img{
    width:100%;
    height: 100%;
    border-radius: 100%;
}
/* .profile_name span{
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
} */
.detailImage{
    width: 100%;
    height:400px;
}

.mini-profile{
    width:50px;
    height: 50px;
    border-radius: 100px;
}
.profile_line{
    border:1px solid #f5f5f5;
    width:100%;
    margin-top:5px;
    margin-bottom: 5px;
}
.mini-profile-link{
    text-decoration: none;
    color: black;
}
.mini-profile-link:hover{
    border-bottom: 1px solid black;
}
.index-image{
    width:100%;
}

.others-profile{
    width:50px;
    height: 50px;
    border-radius: 100px;
}
.others-name{
    color:black;
    text-decoration: none;
}
.others-name:hover{
    color:black;
    text-decoration: underline;
}
.others-empty{
    height: 100vh;
}

.detail-three-dot{
    cursor: pointer;
}
@media(max-width:550px){
    .others-empty{
        height: 50vh;
    }
}


.pf_image_comment{
    display: inline-block;
}
.pf_other{
    display: inline-block;
}
.comment_image{
    width:50px;
    height: 50px;
    border-radius: 100px;
}

.pf_name{
    text-decoration: none;
    color: black;
}

.pf_name:hover{
    text-decoration: underline;
    color:black;
}
.reaction-button{
    border:none;
    background-color: transparent;
}
